header
    padding: 25px 0
    .menu
        display: flex
        justify-content: space-between
        align-items: center
        .imgbox
            width: 40px
        nav
            a
                color: #7e7878
                margin-right: 30px
                font-size: 22px
            .home-color
                color: #74bebc
        .minimenu
            display: flex
            .icon
                display: none
                padding: 10px
                background-color: #39b8c1ff
                border-radius: 5px
                background-image: url(Assets/15.svg)
                i
                    color: #ffffffff
            .btn
                display: none
                background-color: #e9e7e7ff
                botder-radius: 5px
                margin-left: 10px
    @media ( max-width: 992px )
        .menu
            .minimenu
                .btn
                    display: block
            nav
                display: none
    @media ( max-width: 576px )
        .menu
            .minimenu
                .icon
                    display: block
