header
    padding: 25px 0
    .menu
        display: flex
        justify-content: space-between
        align-items: center
        .imgbox
            width: 40px
            img
                &:hover
                    cursor: pointer
        nav
            a
                text-decoration: underline
                color: #7e7878
                margin-left: 30px
                font-size: 22px
                &:hover
                    cursor: pointer
            .home-color
                color: #74bebc
        .minimenu
            display: none
            .icon
                display: none
                padding: 10px
                background-color: #39b8c1ff
                border-radius: 5px
                background-image: url(Assets/15.svg)
                i
                    color: #ffffffff
                    &:hover
                        cursor: pointer
            .btn
                display: none
                background-color: #e9e7e7ff
                botder-radius: 5px
                margin-left: 10px
                &:hover
                    cursor: pointer
    @media ( max-width: 992px )
        .menu
            .minimenu
                display: block
                .btn
                    display: block
            nav
                display: none
    @media ( max-width: 576px )
        .menu
            .minimenu
                display: flex
                .icon
                    display: block
